<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Houses for Sale</title>
</head>
<body>
	<h1>Houses for Sale</h1>
	<form>
		<table>
			<tr th:each="currentHouse : ${homes}">
				<td>Address:<p th:text="${currentHouse.location}"/></td>
				<td>Price: ($)<p th:text="${currentHouse.price}"/></td>
				<td>Bedrooms:<p th:text="${currentHouse.bedrooms}"/></td>
				<td>Bathrooms:<p th:text="${currentHouse.bathrooms}"/></td>
				<td>Garages:<p th:text="${currentHouse.garages}"/></td>
				<td>SQFT:<p th:text="${currentHouse.sqft}"/></td>
				<td>Acres:<p th:text="${currentHouse.acres}"/></td>
				<td>Agent:<p th:text="${currentHouse.agent}"/></td>
				<td><a th:href="@{/edit/{id}(id=${currentHouse.id})}">Edit</a></td>
				<td><a th:href="@{/delete/{id}(id=${currentHouse.id})}">Delete</a></td>
			</tr>
		</table>
	</form>
	<a href="../inputHouse">Add new Listing</a>
</body>
</html>